# Veritabanı Ayarları 
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=hacettepe_ai_db
DATABASE_URL=postgresql+asyncpg://postgres:BURAYA_SIFRE_GELECEK@db:5432/hacettepe_ai_db

# Güvenlik ve JWT Ayarları
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440